body {
  background-color: #111;
  color: #fff;
  font-family: 'Arial', sans-serif;
  text-align: center;
  padding: 40px 20px;
}

.search input {
  padding: 10px;
  width: 250px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}

.search button {
  padding: 10px 15px;
  background-color: #FFD700;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#searchResult {
  margin-top: 15px;
  color: #0ff;
  font-weight: bold;
}
